label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type='text'],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#updateButton {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#updateButton:hover {
  background-color: #45a049;
}
#deleteButton {
  width: 100%;
  padding: 10px;
  background-color: #b42700;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#deleteButton:hover {
  background-color: #a40000;
}
